<script lang="ts" setup>
import { ref } from "vue";

const numList = ref<number[]>([]);
const num = ref(0);
const addnum = (num: number) => {
  numList.value.splice(0, numList.value.length);
  for (let i = 1; i <= num; i++) {
    numList.value.push(i);
  }
};
</script>

<template>
  <v-form>
    <v-container>
          <v-text-field
            v-model="num"
            label="Please input Number"
            required
            :rules="[(v) => !!v || 'Number is not empty!']"
            :oninput="addnum(num)"
          ></v-text-field>
          <v-row>
            <v-col cols="12" md="1" v-for="item in numList" :key="item">{{ item }}

            </v-col>
          </v-row>
    </v-container>
  </v-form>
</template>
