<script lang="ts" setup>
import { mdiRefresh } from "@mdi/js";
import { ref } from "vue";
const change = (item: { name: string; src: string}) => {
  text.value = item.name;
  image.value = item.src;
};
const changColor = (item: { status: boolean }) => {
  refresh();
  if (item.status === true) {
    item.status = true;
  } else {
    item.status = !item.status;
  }
};
const refresh = () => {
  emotions.value.forEach((item) => (item.status = false));
}
const text = ref("smile");
const image = ref("/feeling_imgs/smile.png");
const emotions = ref([
  {
    name: "ANGRY",
    src: "/feeling_imgs/angry.png",
    status: false,
  },
  {
    name: "CUTE",
    src: "/feeling_imgs/cute.png",
    status: false,
  },
  {
    name: "EXCITED",
    src: "/feeling_imgs/excited.png",
    status: false,
  },
  {
    name: "PAIN",
    src: "/feeling_imgs/pain.png",
    status: false,
  },
  {
    name: "SHOCKED",
    src: "/feeling_imgs/shocked.png",
    status: false,
  },
  {
    name: "SMILE",
    src: "/feeling_imgs/smile.png",
    status: true,
  },
]);
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="6"><v-img :src="image"></v-img> </v-col>
      <v-col cols="6">
        <h1 style="text-align: center">
          {{ text }}
        </h1>
        <v-row v-for="(item, index) of emotions" :key="index"
          ><v-btn 
          :class="{'yel-btn': item.status, 'wh-btn': !item.status}"
          width="500px" 
          height="5vh" 
          class="ma-4 mx-auto"
          @click="change(item), changColor(item)"
          >
            {{ item.name }}</v-btn>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped>
.wh-btn {
  background-color: white;
}
.yel-btn {
  background-color: yellow;
}
</style>
