<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const counterStore = useCounterStore();
</script>
<template>
  <div>First Component</div>
  <div>{{ counterStore.count }}</div>
  <v-btn @click="counterStore.increment" class="ma-4 mx-auto">increment</v-btn>
</template>
