<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const counterStore = useCounterStore();
</script>
<template>
  <div>Second Component</div>
  <div>{{ counterStore.doubleCount }}</div>
  <v-btn @click="counterStore.decrement" class="ma-4 mx-auto"> Decrease</v-btn>
</template>
